@import "tailwindcss";

@layer base {
  h1 {
    @apply text-4xl font-bold mb-8;
  }

  h2 {
    @apply text-2xl font-semibold mb-3;
  }

  body.bland {
    @apply !text-slate-900 !bg-slate-50 dark:!text-slate-50 dark:!bg-slate-900;
  }

  button.bland {
    @apply !bg-slate-900 !text-slate-50 dark:!bg-slate-50 dark:!text-slate-900 hover:bg-slate-700 dark:hover:!bg-slate-300;
  }

  body {
    @apply text-slate-900 bg-val transition-all duration-300;
  }

  button {
    @apply px-8 py-3 rounded-4xl bg-slate-900 text-slate-50 transition-all duration-300 font-bold shadow-lg hover:scale-105 active:scale-95;
  }
}

@theme {
  --color-val: #ffdae0;
}